<form action="/lookup" method="get" class="form-inline">
  <fieldset>
    <legend>Weather for Zip</legend>
    <input type="text" name="zipcode" value="<%= h postal_code %>" placeholder="Zipcode…">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

