<h1>Weather for <%= h @zip_weather.location %></h1>

<div class="conditions">Current Conditions: <%= @zip_weather.conditions %></div>
<div class="temp_f">Current Temperature: <%= @zip_weather.temp_f %></div>
